* {
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(https://w.wallhaven.cc/full/k8/wallhaven-k81776.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 1rem 1.5rem;
    border: 4px solid black;   /* černý rámeček bez výplně */
    border-radius: 12px;
    min-height: 50vh;
    min-width: 50vh;
}

.inner-wrapper {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 8px;
    padding: 1.5rem;
}

.heading{
    display: flex;
    justify-content: space-between;
}
.heading h1{
    text-align: center;
    background-color: rgba(176, 176, 171, 0.438);
    padding: 1rem 1.5rem;
    border-radius: 0.5em;
    border: 5px solid rgba(233, 216, 216, 0.482);
    
}

.heading h4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(176, 176, 171, 0.438);
    padding: 2rem 2.5rem;
    border-radius: 0.5em;
    border: 5px solid rgba(233, 216, 216, 0.482);
}

.postup-inner{
    display: flex;
    justify-content: space-between;
}
.postup-inner h6{
    font-size: large;
    margin: 0;
}
.line{
   width: 100%;
   height: 2px;
   background-color: white;
   margin: 2em 0 2.2em 0;
}

.menu-wrapper{
    display: flex;
    justify-content: space-between;
}

button {
    background-color: rgba(176, 176, 171, 0.438);
    border: 5px solid rgba(233, 216, 216, 0.482);
    border-radius: 0.5em;
    gap: 2em;
    cursor: pointer;
}
.filtry{
    margin-top: 2em;
}
.vertikal{
    background-color: white;
    height: 2em;
    width: 2px;
}

.object{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgba(176, 176, 171, 0.438);
    border: 5px solid rgba(233, 216, 216, 0.482);
}

.square{
    background-color: rgba(176, 176, 171, 0.438);
    border: 5px solid rgba(233, 216, 216, 0.482);
    border-radius: 0.2em;
    width: 2em;
    height: 2em;
    
}

.object-body{
    margin: 0;
    display: flex;
}